<!--
<rp-hello-world></rp-hello-world>
<rp-list
  [dataProvider]="myData"
  (selectionChanged)="chged($event)"
  [selectedIndex]="selectedIndex"
></rp-list>

<button (click)="up()">increment</button>
<button (click)="down()">decrement</button>

<button (click)="chgDP()">chg DataProvider</button>
-->

<!--
<rp-nx-welcome></rp-nx-welcome>
-->

<nav>
  <a routerLinkActive="active" routerLink="home">home</a> |
  <a routerLinkActive="active"  routerLink="dash">dash</a>
</nav>

<router-outlet></router-outlet>
